{% extends 'layouts/app.twig' %}

{% block content %}
    <div class="text-center my-3 py-3">
        <h1>404 Not Found</h1>
        <p>The page you are looking for could not be found.</p>

        <a href="{{ BASE_URL }}">Go back to the home page</a>
    </div>
{% endblock %}