<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Features test suite">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
        <testsuite name="Archtecture test suite">
            <directory suffix="Test.php">./tests/Architecture</directory>
        </testsuite>
    </testsuites>
</phpunit>
